/*************general
*************/
html{
 background-color: beige;
 font-family: 'Catamaran', sans-serif;
 line-height: 1.2em;
}

@media screen and (min-width: 600px){
    main{
        padding: 0px 300px;  
    }

}

thead{
    background-color: #3f87a6;
    color: #fff;
}
tbody{
    background-color: #e4f0f5;
}
table{
    border-collapse: collapse;
    border: 2px, solid, rgb(200, 200, 200);
    
}
th, td{
    border: 1px, solid, rgb(190, 190, 190);
    padding: 5px 10px;
}
/********main page
************/


/******** blog 1
*****************/
.img1{
    margin: 10px;
}


h3{
    background-color: aqua; 
}

/*********blog 2
******************/

