/*************general
*************/
*{
 background-color: beige;
}


/********main page
************/


/******** blog 1
*****************/
.img1{
    margin: 10px;
}

#blog1main{
    padding: 0px 300px;
    
    
}
h3{
    background-color: aqua; 
}

/*********blog 2
******************/

#blog2main{
    padding: 0px 300px;
}