/*************general
*************/
*{
 background-color: beige;
}


/********main page
************/


/******** blog 1
*****************/
.img1{
    width: 900px;
    padding: 10px;
}

@media screen and (max-width: 600px){
    .img1{
        width: 370px;
        padding: 10px 0;
        margin: 0;
    }

    li{
        
    }

    #blog1main{
        padding: 0;
        margin: 0;
        line-height: 23px;
    }
}

#blog1main{
    padding: 0px 50px;
    text-align: justify;
}
h3{
    background-color: aqua; 
}

/*********blog 2
******************/
